{% extends 'base.html'%}
{%block ttile%} Chaange Password {%endblock%}

{%block main%}
{% load static %}

<!-- //w3l-header -->
<!-- /form-16-section -->
<section class="w3l-booking-top">
    <div class="booking-form-61">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-0"> </div>
                <div class="col-md-6 col-12">
                    <div class="booking-form-content">
                            <h6>Change Password</h6>
                            <form action="/changepwd" class="book-depature-6" method="post">
                                {%csrf_token%}
                                <div class="d-grid grid-col-4">
                                    <div class="hny-frm_grid">
                                        <h5>Old Password</h5>
                                        <input class="password" name="oldpwd" type="password" placeholder="Your old Password" required>
                                    </div>
                                    <div class="hny-frm_grid mt-3">
                                        <h5>New Password</h5>
                                        <input class="password" name="newpwd" type="password" placeholder="password"
                                            required>
                                    </div>
                                    <div class="hny-frm_grid mt-3">
                                        <h5>Confirm Password</h5>
                                        <input class="password" name="confirmpwd" type="password" placeholder="password"
                                            required>
                                    </div>
                                    <button class="btn btn-style btn-secondary book mt-3">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}