{% extends 'base.html'%}
{%block title%} Turfs {%endblock%}

{%block main%}
{% load static %}

<!-- //w3l-header -->
<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
            <h2>Turfs</h2>
            <p><a href="index.html">Home</a> /  My Bookings History</p>
        </div>
    </div>
</section>

<div class="container p-5">
    <h2 class="mb-4">Available Turfs</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Turf Name</th>
                <th scope="col">Time Slot</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Status</th>
                <th scope="col">Booked Time</th>
            </tr>
        </thead>

        <tbody>
            {% for booking in bookingdata %}
            <tr>
                <td>{{ booking.turf.name }}</td>
                <td>{{ booking.slot.time_slot}}</td>
                <td>{{ booking.slot.start_time }}</td>
                <td>{{ booking.slot.end_time }}</td>
                <td>{{ booking.booking_status }}</td>
                <td>{{ booking.booked_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <!-- Pagination links -->
              <div class="pagination ml-5 mt-5">
                <span class="step-links">
                  <span class="current">
                    Page {{ bookingdata.number }} of {{ bookingdata.paginator.num_pages }}.
                  </span>

                  {% if bookingdata.has_previous %}
                  <a href="?page=1" class="btn btn-secondary active">&laquo;</a>
                  {% endif %}

                  {% for i in bookingdata.paginator.page_range %}
                  <span class="{% if bookingdata.number == i %}current{% endif %}">
                    <a href="?page={{ i }}" class="btn btn-secondary active">{{ i }}</a>
                  </span>
                  {% endfor %}


                  {% if bookingdata.has_next %}
                  <a href="?page={{ bookingdata.paginator.num_pages }}" class="btn btn-secondary active">&raquo;</a>
                  {% endif %}

                </span>
              </div>
        <div>
    </div>
</div>
{%endblock%}